<a href="https://colab.research.google.com/github/19PA1A0493/PYTHON-BASICS/blob/master/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn import metrics
import matplotlib.pyplot as plt

In [60]:
placement=pd.read_csv("students_placement_data.csv")
placement.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [71]:
a=pd.read_csv("students_placement_data.csv")
a=a.loc[a['Section']=='A']
a.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [95]:
b=pd.read_csv("students_placement_data.csv")
b=b.loc[b['Section']=='B']
b.head()

    Roll No Gender  ... registered_for_ Placement_Training  placement status
60       61      F  ...                                 NO        Not placed
61       62      F  ...                                 NO            Placed
62       63      M  ...                                 NO        Not placed
63       64      M  ...                                yes        Not placed
64       65      F  ...                                 NO            Placed

[5 rows x 9 columns]

In [96]:
a.describe()

         Roll No  SSC Percentage  ...  B.Tech_percentage   Backlogs
count  37.000000       37.000000  ...          37.000000  37.000000
mean   28.108108       77.755676  ...          54.981892   8.108108
std    17.619093        8.713490  ...          11.299445   7.355209
min     1.000000       55.660000  ...          31.200000   0.000000
25%    12.000000       72.170000  ...          49.670000   1.000000
50%    27.000000       79.900000  ...          54.740000   7.000000
75%    43.000000       85.000000  ...          64.360000  14.000000
max    58.000000       91.000000  ...          73.010000  25.000000

[8 rows x 5 columns]

In [64]:
b.describe()

          Roll No  SSC Percentage  ...  B.Tech_percentage   Backlogs
count   57.000000       57.000000  ...          57.000000  57.000000
mean    89.000000       79.998070  ...          63.822281   3.105263
std     16.598193        9.402643  ...          10.956975   5.498975
min     61.000000       47.800000  ...          35.840000   0.000000
25%     75.000000       77.330000  ...          56.890000   0.000000
50%     89.000000       82.300000  ...          63.000000   0.000000
75%    103.000000       86.000000  ...          72.570000   2.000000
max    117.000000       92.660000  ...          88.100000  22.000000

[8 rows x 5 columns]

In [94]:
a=a.loc[a['placement status']=='Not placed']
a.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed
5        6      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [74]:
b=b.loc[b['placement status']=='Not placed']
b.head()

    Roll No Gender  ... registered_for_ Placement_Training  placement status
60       61      F  ...                                 NO        Not placed
62       63      M  ...                                 NO        Not placed
63       64      M  ...                                yes        Not placed
68       69      M  ...                                 NO        Not placed
69       70      M  ...                                 NO        Not placed

[5 rows x 9 columns]

In [0]:
x=a['SSC Percentage'].values.reshape(-1,1)
y=a['inter_Diploma_percentage'].values.reshape(-1,1)

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2)

In [84]:
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [85]:

print(model.intercept_)

[15.93793564]

In [86]:
print(model.coef_)

[[0.75939618]]

In [87]:
predicted_a=model.predict(X_test) 
predicted_a

array([[81.3675107 ],
       [66.81747985],
       [81.70164502],
       [80.35751378],
       [76.6136906 ],
       [82.23322235],
       [73.65204549],
       [72.51295121]])

In [0]:
x=b['SSC Percentage'].values.reshape(-1,1)
y=b['inter_Diploma_percentage'].values.reshape(-1,1)

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2)

In [90]:
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [91]:
print(model.intercept_)

[31.31655685]

In [92]:
print(model.coef_)

[[0.59509489]]

In [93]:
predicted_b=model.predict(X_test) 
predicted_b

array([[78.92414818],
       [68.21244013],
       [80.01317183],
       [75.65112627],
       [78.68611022],
       [80.60826672],
       [80.70943285],
       [78.82298205],
       [72.97319926]])

In statistics, the mean squared error (MSE) or mean squared deviation (MSD) of an estimator (of a procedure for estimating an unobserved quantity) measures the average of the squares of the errors—that is, the average squared difference between the estimated values and the actual value.

Find all of your absolute errors, xi – x. Add them all up. Divide by the number of errors. For example, if you had 10 measurements, divide by 10.
...
Mean Absolute Error
n = the number of errors,
Σ = summation symbol (which means “add them all up”),
|xi – x| = the absolute errors.
Oct 25, 2016