<a href="https://colab.research.google.com/github/19PA1A0493/PYTHON-BASICS/blob/master/CSE7235c_Day_01_Pandas_Master_Copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>**Pandas Introduction**</center>
---

<br>

## **Pandas DataFrame**

In [0]:
# import pandas
import pandas as pd

## **Reading data**

In [0]:
# Read data from csv file
ipl = pd.read_csv('matches2008-2016.csv')
ipl_new = pd.read_csv('matches2017.csv')

In [15]:
print(ipl)

    match_id  season        city  ... venue_id          umpire1          umpire2
0     2008_1    2008   Bangalore  ...        7        Asad Rauf      RE Koertzen
1     2008_2    2008  Chandigarh  ...        9        MR Benson       SL Shastri
2     2008_3    2008       Delhi  ...        2        Aleem Dar   GA Pratapkumar
3     2008_4    2008      Mumbai  ...        1         SJ Davis        DJ Harper
4     2008_5    2008     Kolkata  ...        3        BF Bowden      K Hariharan
..       ...     ...         ...  ...      ...              ...              ...
572  2016_56    2016      Raipur  ...       27   A Nand Kishore     BNJ Oxenford
573  2016_57    2016   Bangalore  ...        7     AK Chaudhary  HDPK Dharmasena
574  2016_58    2016       Delhi  ...        2        M Erasmus    C Shamshuddin
575  2016_59    2016       Delhi  ...        2        M Erasmus        CK Nandan
576  2016_60    2016   Bangalore  ...        7  HDPK Dharmasena     BNJ Oxenford

[577 rows x 19 columns]

## **Checking data dimensions**
- use the shape method on data frame to get the dimensions

In [16]:
print(ipl.shape)
print(ipl_new.shape)

(577, 19)
(59, 19)

## **Appending DataFrame**
- We need to append new matches data to the old data using append method

In [28]:
ipl_final = ipl.copy()             # Explicitly creating a copy of ipl. Just to make sure you don't modify your original data
ipl_final = ipl_final.append(ipl_new)
print(ipl_final)

   match_id  season        city  ... venue_id       umpire1         umpire2
0    2008_1    2008   Bangalore  ...        7     Asad Rauf     RE Koertzen
1    2008_2    2008  Chandigarh  ...        9     MR Benson      SL Shastri
2    2008_3    2008       Delhi  ...        2     Aleem Dar  GA Pratapkumar
3    2008_4    2008      Mumbai  ...        1      SJ Davis       DJ Harper
4    2008_5    2008     Kolkata  ...        3     BF Bowden     K Hariharan
..      ...     ...         ...  ...      ...           ...             ...
54  2017_55    2017       Delhi  ...        2     CK Nandan   C Shamshuddin
55  2017_56    2017      Mumbai  ...        1        S Ravi   C Shamshuddin
56  2017_57    2017   Bangalore  ...        7  AK Chaudhary     Nitin Menon
57  2017_58    2017   Bangalore  ...        7      NJ Llong     Nitin Menon
58  2017_59    2017   Hyderabad  ...        4      NJ Llong          S Ravi

[636 rows x 19 columns]

## **Data Inspection**

In [34]:
## .shape gives dimentions of Data
print(ipl_final.shape)                            # dim() in R - Dimentions of data

(636, 19)

In [37]:
## Getting top 3 rows usig head method
ipl_final.head(4)

  match_id  season        city  ... venue_id    umpire1         umpire2
0   2008_1    2008   Bangalore  ...        7  Asad Rauf     RE Koertzen
1   2008_2    2008  Chandigarh  ...        9  MR Benson      SL Shastri
2   2008_3    2008       Delhi  ...        2  Aleem Dar  GA Pratapkumar
3   2008_4    2008      Mumbai  ...        1   SJ Davis       DJ Harper

[4 rows x 19 columns]

In [27]:
## .columns gives column names
print(ipl_final.columns)                          # colnames() in R - Column Namesprint(list(df.index)[:10])

Index(['match_id', 'season', 'city', 'date', 'team1_id', 'team2_id',
       'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner',
       'win_by_runs', 'win_by_wickets', 'player_of_match',
       'player_of_match_id', 'venue', 'venue_id', 'umpire1', 'umpire2'],
      dtype='object')

In [0]:
## .dtypes gives data types for each column
print(ipl_final.dtypes)                           # str() in R - Data types

match_id               object
season                  int64
city                   object
date                   object
team1_id               object
team2_id               object
toss_winner            object
toss_decision          object
result                 object
dl_applied              int64
winner                 object
win_by_runs             int64
win_by_wickets          int64
player_of_match        object
player_of_match_id    float64
venue                  object
venue_id                int64
umpire1                object
umpire2                object
dtype: object

<br><br>
## **Seting match_id as row index** (rarely used)

In [64]:
ipl_final.set_index(['date'],inplace=True)
ipl_final

KeyError: ignored

## **Summary statistics**
- using the describe method

In [49]:
ipl_new.describe()

       season  dl_applied  ...  player_of_match_id   venue_id
count    59.0   59.000000  ...           59.000000  59.000000
mean   2017.0    0.016949  ...          421.983051  10.983051
std       0.0    0.130189  ...          200.205196  12.417301
min    2017.0    0.000000  ...            1.000000   1.000000
25%    2017.0    0.000000  ...          312.000000   2.500000
50%    2017.0    0.000000  ...          484.000000   4.000000
75%    2017.0    0.000000  ...          576.500000   9.000000
max    2017.0    1.000000  ...          691.000000  34.000000

[8 rows x 6 columns]

## **Dropping columns**
- using the drop method

In [55]:
# Dropping Column
ipl.drop(['venue_id'], axis=1, inplace=True)    # Axis = 1 for columns

ipl

    match_id  season  ...          umpire1          umpire2
0     2008_1    2008  ...        Asad Rauf      RE Koertzen
1     2008_2    2008  ...        MR Benson       SL Shastri
2     2008_3    2008  ...        Aleem Dar   GA Pratapkumar
3     2008_4    2008  ...         SJ Davis        DJ Harper
4     2008_5    2008  ...        BF Bowden      K Hariharan
..       ...     ...  ...              ...              ...
572  2016_56    2016  ...   A Nand Kishore     BNJ Oxenford
573  2016_57    2016  ...     AK Chaudhary  HDPK Dharmasena
574  2016_58    2016  ...        M Erasmus    C Shamshuddin
575  2016_59    2016  ...        M Erasmus        CK Nandan
576  2016_60    2016  ...  HDPK Dharmasena     BNJ Oxenford

[577 rows x 18 columns]

## **Dropping row**

In [0]:
# Dropping rows
ipl_final.drop(['2008_1','2009_1','2010_1'], axis=0, inplace=True)  # axis = 0 for rows and axis=1 for columns

ipl.head(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar

## **Frequency distribution**
- using method value_counts for getting the distribution of values for categories

In [69]:
ipl_final['toss_winner'].value_counts()       # table() in R - Frequency count

MI     85
KKR    78
DD     72
RCB    70
KXI    68
CSK    66
RR     63
DC     43
SRH    35
PW     20
GL     15
RPS    13
KTK     8
Name: toss_winner, dtype: int64

## **loc (to subset data by Row/Column labels)**

In [71]:
## Label based indexing make more sense for column subsetting
#Select only venue and winner columns
subset1 = ipl_final.loc[:,['venue','winner']]
subset1.head(3)

                                                        venue winner
date
18-04-2008         M.Chinnaswamy Stadium Bengaluru, Karnataka    KKR
19-04-2008  I.S. Bindra Punjab Cricket Association Stadium...    CSK
19-04-2008                    Feroz Shah Kotla Stadium, Delhi     DD

In [0]:
## For loc based subsetting using row and column indexer together is rare.
subset2 = ipl_final.loc[['2008_2','2009_2','2010_2',],['venue','winner']]
subset2.head(3)

                                                      venue winner
match_id
2008_2    I.S. Bindra Punjab Cricket Association Stadium...    CSK
2009_2                                             Newlands    RCB
2010_2                                    Brabourne Stadium     MI

## **iloc    (to subset data based on Row/Column number)**

In [0]:
## Numeric based indexing usually makes sense for row subsetting 
ipl.iloc[50:53,1:5]

    season       city        date team1_id
50    2008    Chennai  24-05-2008       RR
51    2008  Bangalore  03-05-2008      RCB
52    2008    Kolkata  25-05-2008      KXI

## **Boolean indexing (to subset based on value in each cell of the column )**
**Here we subsetting the data where the cell value in "City" column is equal to "Hyderabad"**

In [74]:
subset3 = ipl.loc[ipl['winner']=='DD',:]
subset3.head()

   match_id  season  ...     umpire1         umpire2
2    2008_3    2008  ...   Aleem Dar  GA Pratapkumar
6    2008_7    2008  ...   IL Howell       AM Saheba
16  2008_17    2008  ...   Aleem Dar       I Shivram
19  2008_20    2008  ...   BF Bowden     K Hariharan
38  2008_39    2008  ...  BG Jerling  GA Pratapkumar

[5 rows x 18 columns]

## **Piping of functions (for multiple criteria subsetting)**

**Basically output of first function is taken as input for the next function**
#### **Note - We are using a relational operator inside the first function to get a boolean vector (equal to the number of rows we have). Where the value will be True only if the "city" column is "Hyderabad"**

In [0]:
subset4 = ipl.loc[ipl['city']=='Chennai',:].loc[ipl['winner']=='CSK',:].loc[:,['team1_id','team2_id','winner','city']]

## This line achieves the same purpose as above
# subset4 = ipl.loc[(ipl['city']=='Chennai') & (ipl['winner']=='CSK'),:].loc[:,['team1_id','team2_id','winner','city']]

subset4.head(3)

   team1_id team2_id winner     city
7       CSK       MI    CSK  Chennai
11      KKR      CSK    CSK  Chennai
31      CSK      KXI    CSK  Chennai

### **Note**
1. In the first command we have used 3 subsetting logics in a single line
2. This can be alternatively done by chaining conditions using logical operations (&)
3. **You may realize that sometimes giving single indexer (either row or column) works. However it may not be a consistent behaviour and its a good programming practive to specify both the indexers explicitly (row and column) as it makes the code more readable later on.**

## **Replace specific values**

In [0]:
ipl['winner'].value_counts()

MI     80
CSK    79
RCB    70
KKR    68
RR     63
KXI    63
DD     56
SRH    34
DC     29
PW     12
GL      9
KTK     6
RPS     5
Name: winner, dtype: int64

In [0]:
# Lets replace DC with SRH
ipl_updated=ipl_final.replace({'DC':'SRH'}, inplace=False)

ipl_updated['winner'].value_counts()

MI     91
CSK    79
KKR    75
RCB    73
SRH    71
KXI    70
RR     63
DD     62
RPS    15
GL     13
PW     12
KTK     6
Name: winner, dtype: int64

## **Activity**
**What matches are played on 2008-04-20 and who is the winner?**

In [66]:
ipl.loc[ipl['date']=='20-04-2008',:].loc[:,['winner']]

  winner
3    RCB
4    KKR

---
## *<center>End</center>*