<a href="https://colab.research.google.com/github/19PA1A0493/PYTHON-BASICS/blob/master/pandas_practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np
a=pd.Series()
print(a)

Series([], dtype: float64)

In [0]:
import pandas as pd
import numpy as np
a=np.array(["v","a","m","s","i"])
b=pd.Series(a)
print(b)

0    v
1    a
2    m
3    s
4    i
dtype: object

In [0]:
import pandas as pd
import numpy as np
a=np.array(["s","i","y","a"])
b=pd.Series(a,index=[1,2,3,4])
print(b)

1    s
2    i
3    y
4    a
dtype: object

In [0]:
import pandas as pd
import numpy as np
a=np.array(["s","i","y","a"])
b=pd.Series(a)
print(b)

0    s
1    i
2    y
3    a
dtype: object

In [0]:
import pandas as pd
import numpy as np
s={1:"v",2:"a",3:"m",4:"s",5:"i"}
i=pd.Series(s)
i

1    v
2    a
3    m
4    s
5    i
dtype: object

In [0]:
import pandas as pd
import numpy as np
a={1:"s",2:"i",3:"y",4:"a"}
c=pd.Series(a,index=[1,4,3,2])
print(c)

1    s
4    a
3    y
2    i
dtype: object

In [0]:
import pandas as pd
import numpy as np
a=pd.Series(5,index=[0,1,2,3,4,5,6,7,7,8])
print(a)
d=pd.Series(1,index=[1,2,3,4,5,6,78])
print(d)

0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
7    5
8    5
dtype: int64
1     1
2     1
3     1
4     1
5     1
6     1
78    1
dtype: int64

In [0]:
import pandas as pd
import numpy as np
a=pd.Series([11,22,33,44,55,66,77,88])
print(a)
print(a[0])
print(a[1:4])
print(a[-2:-6])

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
dtype: int64
11
1    22
2    33
3    44
dtype: int64
Series([], dtype: int64)

In [0]:
import pandas as pd
import numpy as np
a=pd.Series([11,22,33,44], index=["aa","bb","cc","dd"])
print(a)
print(a[["dd","aa","cc"]])

aa    11
bb    22
cc    33
dd    44
dtype: int64
dd    44
aa    11
cc    33
dtype: int64

In [31]:
import pandas as pd
import numpy as np
a=pd.DataFrame()
print(a)

Empty DataFrame
Columns: []
Index: []

In [33]:
import pandas as pd
import numpy as np
a=pd.DataFrame([["ECE491","vamsi",82],["ECE492","ram",78],["ECE493","krishna",100],["ECE494","siya",89]],columns=["roll no","name","marks"])
print(a)

  roll no     name  marks
0  ECE491    vamsi     82
1  ECE492      ram     78
2  ECE493  krishna    100
3  ECE494     siya     89

In [36]:
import pandas as pd
import numpy as np
a=pd.DataFrame({"roll no":[1,2,3,4,5],"name":["a","b","c","d","e"],"marks":[10,12,13,15,22]},index=[1,2,3,4,5])
print(a)

   roll no name  marks
1        1    a     10
2        2    b     12
3        3    c     13
4        4    d     15
5        5    e     22

In [46]:
import pandas as pd
import numpy as np
a=pd.DataFrame({"rollno":[1,2,3,4],"name":["s","i","y","a"],"marks":[11,22,33,44]})
print(a)
g=a["name"]
print(g)

   rollno name  marks
0       1    s     11
1       2    i     22
2       3    y     33
3       4    a     44
0    s
1    i
2    y
3    a
Name: name, dtype: object